{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Current and historical snow depth</h2>
<p>Graphs are smoothed by a moving median method, as snow depth measurements can spike due to wind, warm/cold air pockets, and Swiss Shepherds running by.</p>

<h3>24 hours</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth24h.png' %}?{% now 'YmdHi' %}">
    <p></p>
</div><br>

<h3>7 days</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth7d.png' %}?{% now 'YmdHi' %}">
    <p></p>
</div><br>

<h3>30 days</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth30d.png' %}?{% now 'YmdHi' %}">
    <p></p>
</div><br>

<h3>Long-term snowpack</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth90d.png' %}?{% now 'YmdHi' %}">
    <p></p>
</div><br>

{% endblock content %}
