{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Historical data</h2>
<h3>24 hours</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/24hrs.png' %}"> 
    <p></p>
</div><br>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth24h.png' %}">
    <p></p>
</div><br>

<h3>24 hour wind rose</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/rose_24hrs.png' %}"> 
    <p></p>
</div><br>

<h3>7 days</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/7days.png' %}"> 
    <p></p>
</div><br>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth7d.png' %}">
    <p></p>
</div><br>

<h3>28 days</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/28days.png' %}"> 
    <p></p>
</div>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth30d.png' %}">
    <p></p>
</div><br>

<h3>Long-term snowpack</h3>
<div class='plot'>
    <img class='plot' src="{% static 'img/plots/snowdepth/depth90d.png' %}">
    <p></p>
</div><br>

{% endblock content %}
