{% load staticfiles %}

<div id='link-div'>
    <h3>Browse</h3>
    <p><a href="{% url 'index' %}">Weather</a></p>
    <p><a href="{% url 'water' %}">Water temp</a></p>
    <p><a href="{% url 'webcam' %}">Webcam</a></p>
    <p><a href="{% url 'snow' %}">Snow</a></p>
    <p><a href="{% url 'history' %}">History</a></p>
    <p><a href="{% url 'about' %}">About</a></p>
    <br>
    <h4>Links</h4>
    <p><a class='external' href='https://www.wunderground.com/personal-weather-station/dashboard?apiref=36b162b3091cbbb2&ID=KCOBRECK43' target='_blank'>Wunderground Station</a></p>
</div>
<div class='spacer'></div>
<div id='social-div'>
    <!--Wunderground banner-->
    <a href="http://www.wunderground.com/weatherstation/WXDailyHistory.asp?apiref=36b162b3091cbbb2&ID=KCOBRECK43"><img id='social-icon' src="http://banners.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=wxstnsticker_both&weatherstationcount=KCOBRECK43" height="160" width="160" border="0" alt="Weather Underground PWS KCOBRECK43" /></a>
</div>
